.box{
    width: 300px;
    height: 200px;
    background-color: pink;
}
.responsive-box{
    width: 50vw;
    height: 50vw;
    background-color:aqua;
}
.padded-text{
    padding: 20px;
    background-color: lavender;
}